name: Continuous Integration

on:
  pull_request:
    branches: [ master ]

jobs:
  markdown-lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: '16'
          cache: 'npm'
      - name: Install packages
        run: sudo gem install mdl
      - name: Lint markdown files
        run: mdl . -r ~MD036,~MD024,~MD004,~MD029,~MD013,~MD007
      - run: pip install -r requirements.txt
      - run: mkdocs build --strict
      - run: npm install
      - run: node .github/manual_lint.js
      # Suppress 036 Emphasis used instead of a header
      # Suppress 024 Multiple headers with the same content
