name: Continuous Integration

on:
  pull_request:
    branches: [ master ]

jobs:
  markdown-lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Install packages
        run: sudo gem install mdl
      - name: Lint markdown files
        run: mdl . -r ~MD036,~MD024,~MD004,~MD029
      - name: Try build docs
        uses: jnanadarshan/mkdocs-build-action@v0.24
        # Suppress 036 Emphasis used instead of a header
        # Suppress 024 Multiple headers with the same content
